*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build
*.jar
build/
MDevice.java
Device.java
MDeviceDAO.java
DeviceDAO.java
DataRead.java
DataBaseMigrate.java
AddEditPresentable.java
AddEditPresenter.java
MainPresentable.java
MainPresenter.java
